# 제목1
## 제목2
### 제목3

### 순서형 리스트
1. 리스트1
2. 리스트2
3. 리스트3

### 비순서형 리스트 
- 리스트1
- 리스트2
- 리스트3

In [1]:
# 주석
# 코드에 대한 설명을 적는 부분 

# 변수 생성
a = 10
b = "test"

In [2]:
print(a)

10

In [3]:
b

'test'

In [4]:
a
b

'test'

In [5]:
print(a)
print(b)

10
test

In [6]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [7]:
c = "010"

In [8]:
print(c)
print(type(c))

010
<class 'str'>

In [11]:
# 불형 데이터 생성
# 참, 거짓 형태
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [12]:
# 산술 연산자
a = 7
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

10
4
21
2.3333333333333335
2
1
343

In [13]:
# 산술 연산자의 우선순위
c = 2

print(a + b / c)
print( (a + b) / c )

8.5
5.0

In [14]:
# 대입연산자 ( +=, -=, *=, /=, //=, %=, **= )
a += 3
# a = a + 3
# a = 7 + 3
print(a) # 10
a -= 2
# a = 10 - 2
print(a) # 8
a *= 5
# a = 8 * 5
print(a) # 40

10
8
40

### 조건문 
- 조건식이 참인 경우와 거짓인 경우 실행할 코드를 따로 작성

In [16]:
# if문
a = 11

# a가 10보다 작은가?
if a < 10:
    print("a는 10보다 작다")

In [17]:
# if ~ else 문
# 조건식이 참인 경우와 거짓인 경우 코드를 작성
a = 20

if a < 10:
    print('a는 10보다 작다')
else:
    print('a는 10보다 크거나 같다')

a는 10보다 크거나 같다

In [21]:
# 조건식이 여러개인 경우 
# input()은 유저가 값을 입력 할 수 있도록 창을 만들어준다. 
score = int(input("점수를 입력하시오"))
print(score)

# score가 90이상이라면
if score >= 90:
    print('A')
# score가 80이상이고 90 미만이라면
elif score >= 80:
    print('B')
# score가 70이상이고 80 미만이라면
elif score >= 70:
    print('C')
# score가 60이상이고 70 미만이라면
elif score >= 60:
    print('D')
# score 60 미만이라면
else:
    print('F')

print('프로그램 종료')

62
D
프로그램 종료

### 반복문
- for문 
    - 리스트의 항목의 개수만큼 반복 실행
- while문 
    - 해당하는 조건식이 거짓이 될때까지 반복 실행

In [22]:
# for문 기본 형태 
# for 변수명 in range(시작값, 종료값, 증가값)

list(range(1, 10, 1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for i in range(0, 5, 2):
    print(i, '번째 반복')

0 번째 반복
2 번째 반복
4 번째 반복

In [25]:
# range(시작값, 종료값, 증가값)
# 시작값은 0, 증가값은 1 이 기본 값 지정
for i in range(5):
    print(i, '번째 반복')

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복

In [28]:
# 1 부터 10까지의 합계

# 합계의 초기값 0을 변수로 지정 
result = 0

# 1부터 10까지 반복실행하는 코드를 작성 
for i in range(1, 11, 1):
    # result = result + i
    result += i

print(result)

55

In [30]:
# 다중 for문 
for i in range(1, 3, 1):
    for j in range(1, 3, 1):
        print(i, j)

1 1
1 2
2 1
2 2

In [31]:
# 다중 for문을 이용하여 구구단을 출력

# 첫번째 반복문에서는 단 지정 
for i in range(2, 10, 1):
    # 단에 곱할 값을 반복
    for j in range(1, 10, 1):
        print(i, 'X', j, '=', i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [33]:
# while문 

# 시작값을 지정 
i = 0

# while 조건식 
while i < 5:
    # 증감식 작성
    i += 1
    # i = i + 1
    print(i)

1
2
3
4
5

In [36]:
# 1부터 10까지의 합계

result = 0

i = 1

while i < 11:
    # result = result + i
    result += i
    # 일반적으로 증감식은 while문 가장 마지막에 작성한다. 
    # i = i + 1
    i += 1

print(result)

55

In [38]:
# break문 
# 반복문을 강제로 종료
for i in range(1, 101, 1):
    if i == 5:
        break
    print(i)

1
2
3
4

In [39]:
i = 1

while i < 101:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [42]:
# continue문 
# 반복문으로 되돌아간다. 
for i in range(1, 10, 1):
    if i <=3 :
        continue
    print(i)

4
5
6
7
8
9

In [44]:
i = 1 
while i < 10:
    if i <= 3:
        i += 1
        continue
    print(i)
    i += 1

4
5
6
7
8
9

### 조건문 & 반복문 예제 문제
1. 다중 반복문 문제
    - 두 개의 주사위의 합이 5이상인 경우를 모두 출력하시오
        1. 첫번째 반복문에서 1번 주사위의 경우의 수만큼 반복
        2. 두번째 반복문에서 2번 주사위의 경우의 수만큼 반복
        3. 두 주사위의 합계가 5보다 크거나 같다면 이라는 조건문을 생성
        4. 해당하는 조건식이 참인 경우 print()를 이용하여 i, j값을 출력

In [ ]:
# 첫번째 주사위의 경우의 수 
for i in range(1, 7, 1):
    # 두번째 주사위의 경우의 수
    for j in range(1, 7, 1):
        # 두 주사위의 합이 5 이상이라면
        if i + j >= 5:
            print(i,j)

In [50]:
# 반복문 예제
# 1부터 50까지의 숫자 중 3의 배수의 합계를 구하시오

# 1. 1부터 50까지의 합계
# 합계라는 초기값 0을 변수에 대입하여 지정
result = 0
# 반복문을 이용하여 1부터 50까지 반복
for i in range(1, 51, 1):
    # 합계에 반복문에서 사용하는 변수의 값을 누적 합 
    result = result + i
    # result += i
# 합계를 출력
print(result)
# 2. 1부터 50까지의 3의 배수의 합계
# 합계라는 초기값 0을 변수에 대입하여 지정
result = 0
# 반복문을 이용하여 1부터 50까지 반복
for i in range(1, 51, 1):
    # 조건문을 이용하여 3의 배수(3으로 나눴을때 나머지가 0)의 조건식을 작성 
    if i % 3 == 0:
        # 조건식이 참인 경우 합계에 누적합
        result += i
# 합계를 출력
print(result)

1275
408

In [52]:
# while문 의 경우
result = 0
i = 1
while i <= 50 :
    # result = result + i
    result += i
    i += 1
print(result)

result = 0 
i = 1
while i <= 50:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

1275
408

In [55]:
# 1부터 100까지의 합계중
# 합계의 값이 최초로 900이 넘어갈때의 i값을 출력하시오

# 1부터 100까지의 합계를 출력
# 합계 초기값 0인 변수를 생성
result = 0
# 1부터 100까지의 반복문 생성
for i in range(1, 101, 1):
    # 합계에 i값을 누적 합
    result += i
    # result = result + i
# 합계를 출력
print(result)
# 합계 초기값을 0으로 지정
result = 0
# 1부터 100까지의 반복문 생성
for i in range(1, 101, 1):
    # 합계에 i값을 누적 합
    result = result + i
    # 합계가 900 이상이라면 조건문 생성
    if result >= 900:
        # 조건식이 참이라면 반복문을 강제 종료
        break
# i값과 합계를 출력
print(i, result)

5050
42 903

In [56]:
# while문 
result = 0
i = 1
while i < 101:
    result += i
    if result >= 900:
        break
    i += 1
print(i, result)

42 903

### 자료형 데이터 
- 튜플 
- 리스트
- 딕셔너리

In [57]:
# 튜플 
# 여러개의 데이터를 가지는 변수 중 가장 기본적인 형태
# 수정이 불가능
a = (1, 'Hello')
b = (3, 3.14)
print(a)
print(b)

(1, 'Hello')
(3, 3.14)

In [58]:
# 튜플끼리의 합
c = a + b 
print(c)

(1, 'Hello', 3, 3.14)

In [59]:
# 튜플의 곱
d = a * 3 # a + a + a
print(d)

(1, 'Hello', 1, 'Hello', 1, 'Hello')

In [61]:
# 튜플 데이터의 인덱싱
e = a[1]
print(e)

Hello

In [62]:
tuple_a = (10, 20, 30, 40)

In [64]:
# tuple_a에서 2번째 위치부터 4번째 위치 전까지 데이터를 추출
print(tuple_a[1:3])

(20, 30)

In [67]:
# tuple_a에서 30, 40를 출력하려면?
print(tuple_a[2:])
print(tuple_a[2:4])

(30, 40)
(30, 40)

In [71]:
#tuple_a에서 10, 20, 30을 출력하려면?
print(tuple_a[:3])
print(tuple_a[0:3])

(10, 20, 30)
(10, 20, 30)

In [86]:
# 리스트 형태
# 튜플과 다르게 해당하는 원소들을 수정, 추가, 삭제 작업이 가능
list_a = [20, 10, 50, 30]
list_b = [10, 20, 40, 30]

In [87]:
# 리스트의 각 원소들을 오름차순 정렬로 변경
# sort()
list_a.sort()
print(list_a)

[10, 20, 30, 50]

In [88]:
# 내림차순 정렬 변경
list_a.sort()
list_a.reverse()
print(list_a)

[50, 30, 20, 10]

In [89]:
# 내림차순 정렬 변경
list_a.sort(reverse=True)
print(list_a)

[50, 30, 20, 10]

In [90]:
# 리스트의 순서를 역순으로 변경
# reverse()
list_b.reverse()
print(list_b)

[30, 40, 20, 10]

In [91]:
# 리스트에 가장 마지막에 새로운 원소를 추가 
# append()
list_a.append(5)
print(list_a)

[50, 30, 20, 10, 5]

In [92]:
# 리스트의 가장 마지막에 있는 원소를 삭제
# pop()
list_b.pop()
print(list_b)

[30, 40, 20]

In [93]:
# 특정 위치의 데이터를 제거 
# del 키워드를 사용
del list_a[0]
print(list_a)

[30, 20, 10, 5]

In [95]:
# 리스트의 원소들의 개수를 확인 
# len() 
print(len(list_a))
print(len(list_b))

4
3

In [96]:
# 리스트의 특징 
# 리스트는 원소의 개수가 0개 이상으로 생성이 가능

# 비어있는 리스트 생성
list_c = []
print(list_c)

[]

In [97]:
list_c.append(20)
print(list_c)

[20]

In [98]:
list_c.append( (5, 3) )
print(list_c)

[20, (5, 3)]

In [101]:
# 두개의 주사위를 굴려서 두 주사위의 합이 7인 경우의 수를 
# 리스트에 형태로 출력

# 비어있는 리스트 생성
result = []
# 첫번째 주사위의 경우의 수 만큼 반복을 하는 반복문을 작성
for i in range(1, 7, 1):
    # 두번째 주사위의 경우의 수 만큼 반복을 하는 반복문을 작성
    for j in range(1, 7, 1):
        # 두 주사위의 합계가 7인 경우(조건문 생성)
        if i + j == 7:
            # 조건식이 참이라면 위에서 생성한 비어있는 리스트에 두 주사위의 값을 추가
            result.append( [i, j] )
# 위에서 생성한 리스트를 출력
print(result)

[[1, 6], [2, 5], [3, 4], [4, 3], [5, 2], [6, 1]]

In [102]:
# 딕셔너리 
# 사전형 데이터 
# key : value 데이터가 이루어져 있다. 
dict_data = {
    'name' : 'test', 
    'age' : 20,
    'phone' : '01012345678'
}

In [103]:
# 딕셔너리 형태의 데이터에서 value의 값을 추출하려면 
# 키 값을 기준으로 출력이 가능 
print(dict_data['name'])

test

In [104]:
list_data = ['test', 20, '0101234578']

In [105]:
print(list_data[0])

test

In [106]:
dict_data2 = {
    'age' : 30, 
    'name' : 'test2', 
    'phone' : '01011112222'
}
list_data2 = [30, 'test2', '01011112222']

In [107]:
print(dict_data2['name'])
print(list_data2[0])

test2
30

In [108]:
# 딕셔너리 데이터에 새로운 키:벨류 추가 
dict_data['area'] = 'seoul'
print(dict_data)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [110]:
# 기존의 키 값에 벨류를 변경 
dict_data['age'] = 30
print(dict_data)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}

In [111]:
# 딕셔너리 형태의 데이터는 
# key 값들과 value 값들로 이루어진 데이터
print(dict_data.keys())
print(dict_data.values())

dict_keys(['name', 'age', 'phone', 'area'])
dict_values(['test', 30, '01012345678', 'seoul'])

In [112]:
# DataBase에서 데이터를 로드할때 데이터 형태는
# [ {  }, {  }, {  } , ....]
test_data = [
    {
        'id' : 'test', 
        'password' : '1234'
    }, 
    {
        'id' : 'test2', 
        'password' : '1111'
    }, 
    {
        'id' : 'test3', 
        'password' : '0000'
    }
]

In [113]:
print(test_data)

[{'id': 'test', 'password': '1234'}, {'id': 'test2', 'password': '1111'}, {'id': 'test3', 'password': '0000'}]

In [114]:
# test2라는 값만 출력하려면?
print(test_data[1])

{'id': 'test2', 'password': '1111'}

In [115]:
print(test_data[1]['id'])

test2

In [121]:
# 리스트 데이터를 이용하여 반복문 사용

list_a = [10, 30, 20]

# list_a의 길이를 출력
a_len = len(list_a)

# list_a의 길이만큼 반복
for i in range(0, a_len, 1):
    print(list_a[i])
print("------------------------")
i = 0
while i < a_len:
    print(list_a[i])
    i += 1
print("------------------------")

for i in list_a:
    print(i)

10
30
20
------------------------
10
30
20
------------------------
10
30
20

In [122]:
# test_data를 이용하여 반복문 사용한다. 

# 아이디 값들만 새로운 배열에 추가하여 출력
result = []

result.append(test_data[0]['id'])
result.append(test_data[1]['id'])
result.append(test_data[2]['id'])
print(result)

['test', 'test2', 'test3']

In [123]:
result = []

test_len = len(test_data)

for i in range(0, test_len, 1):
    # i값이 의미하는바는? -> 인덱스 값
    result.append(test_data[i]['id'])
print(result)

['test', 'test2', 'test3']

In [125]:
result = []
test_len = len(test_data)

i = 0
while i < test_len:
    result.append(test_data[i]['id'])
    i += 1
print(result)

['test', 'test2', 'test3']

In [128]:
result = []

for i in test_data:
    # print(i['id'])
    result.append(i['id'])
print(result)

['test', 'test2', 'test3']

In [134]:
test_data2 = [
    [10, 20], 
    [30, 40, 45], 
    [50]
]

In [ ]:
# test_data2 2차원 배열 데이터를 1차원 배열로 변경
# [10, 20, 30, 40, 50, 60]

result = []

for i in test_data2:
    # print(i)
    result.append(i[0])
    result.append(i[1])
print(result)

In [136]:
result = []

for i in test_data2:
    # i의 데이터의 형태는 리스트 
    # i -> [10, 20]
    # i -> [30, 40, 45]
    # i -> [50]
    for j in i:
        # j -> 10  /  20
        # j -> 30  /  40   / 45
        # j -> 50
        result.append(j)

print(result)

[10, 20, 30, 40, 45, 50]