In [ ]:
import pandas as pd

In [ ]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage

1. item_name의 데이터를 모두 대문자로 변경
2. item_name의 문자열 사이의 공백을 모두 제거 
3. item_price의 결측치를 모두 특정한 조건에 맞춰서 대체

In [ ]:
# 문자열 내장함수 문자를 대문자로 변경하는 함수
a = 'Hello World'
print(a.upper())
print(a.lower())

In [ ]:
b = "  Hello World  "
# 좌우의 공백을 제거하는 함수 (strip())
b.strip()

In [ ]:
# 문자열 사이의 공백도 모두 제거 ( replace({기존의문자열}, {변경될문자열}) )
b.replace(' ', '')

In [ ]:
# item_name의 공백을 제거 
uriage['item_name'].str.replace(' ', '')

In [ ]:
uriage['item_name'].str.upper()

In [ ]:
# map함수
a_list = [1,5,7]

def change(x):
    return x ** 2

change(3)

In [ ]:
list(
    map(
        change, 
        a_list
    )
)

In [ ]:
list(
    map(
        lambda x : x ** 2, 
        a_list
    )
)

In [ ]:
# Series에서 map함수와 비슷한 기능을 가진 함수가 존재
# apply(함수명|lambda함수)

def change(x):
    # x는 데이터의 타입이 문자열
    # 문자열 내장함수들을 이용이 가능
    # print(type(x))
    # result = x.upper()
    # result = result.replace(' ', '')
    result = x.upper().replace(' ', '')
    return result

uriage['item_name'].apply(change)

In [ ]:
uriage['item_name'].str.upper().str.replace(' ', '')

In [ ]:
# apply + lambda
uriage['item_name'].apply(
    lambda x : x.upper().replace(' ', '')
)

In [ ]:
# 반복문으로 대문자 변환, 공백 제거 

# 인덱스가0이고 컬럼이 item_name인 경우
# uriage.loc[0, 'item_name']
_list = []
for i in range(0, len(uriage), 1):
    # print(uriage.loc[i, 'item_name'])
    data = uriage.loc[i, 'item_name']
    result = data.upper().replace(' ', '')
    _list.append(result)

_list

In [ ]:
df = pd.DataFrame(
    [
        [1,2,3], 
        [4,5,6]
    ], 
    columns=['A', 'B', 'C']
)
df

In [ ]:
df.loc[0, 'C'] = 5

In [ ]:
df

In [ ]:
for i in range(len(uriage)):
    data = uriage.loc[i, 'item_name']
    result = data.upper().replace(' ', '')
    uriage.loc[i, 'item_name'] = result

In [ ]:
uriage.head(5)

In [ ]:
# 결측치의 개수를 확인
uriage.isna().sum()

In [ ]:
uriage.loc[uriage['item_name'] == '상품X']

In [ ]:
# 상품A라면 item_price는 결측치를 제외하고 100으로 고정

# 상품A이고 결측치가 아닌 데이터의 item_price의 평균

# 상품A에서 item_price가 결측치인 데이터에서 결측치를 평균값으로 대체

In [ ]:
# 첫번째 조건식 (item_name이 상품A라면)
flag = uriage['item_name'] == '상품A'

In [ ]:
# 두번째 조건식 (item_price가 결측치인 경우)
flag_null = uriage['item_price'].isna()

In [ ]:
~flag_null

In [ ]:
mean_data = uriage.loc[flag & ~flag_null, 'item_price'].mean()

In [ ]:
# item_name이 상품A이고 item_price가 결측치가 아닌 평균을 
# item_name이 상품A이고 item_price가 결측치인 부분에 대입
uriage.loc[flag & flag_null, 'item_price'] = mean_data

In [ ]:
uriage.loc[flag & flag_null]

In [ ]:
# item_name의 중복 데이터를 제거하고 유니크한 데이터만 추출 
# case1 (set 데이터형태 사용)
list(set(uriage['item_name']))

In [ ]:
# case2 (unique() 함수를 이용)
uriage['item_name'].unique()

In [ ]:
# case3 (value_counts() 함수를 이용)
(uriage['item_name'].value_counts()).index

In [ ]:
# case4 (위의 3가지 방법이 기억이 안나면 반복문 사용)
item_list = []

for i in uriage['item_name']:
    # print(i)
    if i not in item_list:
        # item_list에 i의 값이 포함되어있지 않다면
        item_list.append(i)

item_list

In [77]:
for item in item_list:
    # print(item)
    flag = uriage['item_name'] == item
    flag_null = uriage['item_price'].isna()
    mean_data = uriage.loc[flag & ~flag_null, 'item_price'].mean()
    uriage.loc[flag & flag_null, 'item_price'] = mean_data

In [78]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [83]:
flag = uriage['item_name'] == '상품E'
uriage.loc[flag, 'item_price'].mean()

500.0

In [ ]:
df = pd.DataFrame(
    [
        [1, 2, 3], 
        [4,5,6]
    ], 
    columns=['A', 'B', 'C']
)

In [ ]:
df

In [ ]:
df['C'] = 10

In [ ]:
df