In [ ]:
import pandas as pd

In [ ]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage

1. item_name의 데이터를 모두 대문자로 변경
2. item_name의 문자열 사이의 공백을 모두 제거 
3. item_price의 결측치를 모두 특정한 조건에 맞춰서 대체

In [ ]:
# 문자열 내장함수 문자를 대문자로 변경하는 함수
a = 'Hello World'
print(a.upper())
print(a.lower())

In [ ]:
b = "  Hello World  "
# 좌우의 공백을 제거하는 함수 (strip())
b.strip()

In [ ]:
# 문자열 사이의 공백도 모두 제거 ( replace({기존의문자열}, {변경될문자열}) )
b.replace(' ', '')

In [ ]:
# item_name의 공백을 제거 
uriage['item_name'].str.replace(' ', '')

In [ ]:
uriage['item_name'].str.upper()

In [ ]:
# map함수
a_list = [1,5,7]

def change(x):
    return x ** 2

change(3)

In [ ]:
list(
    map(
        change, 
        a_list
    )
)

In [ ]:
list(
    map(
        lambda x : x ** 2, 
        a_list
    )
)

In [ ]:
# Series에서 map함수와 비슷한 기능을 가진 함수가 존재
# apply(함수명|lambda함수)

def change(x):
    # x는 데이터의 타입이 문자열
    # 문자열 내장함수들을 이용이 가능
    # print(type(x))
    # result = x.upper()
    # result = result.replace(' ', '')
    result = x.upper().replace(' ', '')
    return result

uriage['item_name'].apply(change)

In [ ]:
uriage['item_name'].str.upper().str.replace(' ', '')

In [ ]:
# apply + lambda
uriage['item_name'].apply(
    lambda x : x.upper().replace(' ', '')
)

In [ ]:
# 반복문으로 대문자 변환, 공백 제거 

# 인덱스가0이고 컬럼이 item_name인 경우
# uriage.loc[0, 'item_name']
_list = []
for i in range(0, len(uriage), 1):
    # print(uriage.loc[i, 'item_name'])
    data = uriage.loc[i, 'item_name']
    result = data.upper().replace(' ', '')
    _list.append(result)

_list

In [ ]:
df = pd.DataFrame(
    [
        [1,2,3], 
        [4,5,6]
    ], 
    columns=['A', 'B', 'C']
)
df

In [ ]:
df.loc[0, 'C'] = 5

In [ ]:
df

In [ ]:
for i in range(len(uriage)):
    data = uriage.loc[i, 'item_name']
    result = data.upper().replace(' ', '')
    uriage.loc[i, 'item_name'] = result

In [ ]:
uriage.head(5)

In [ ]:
# 결측치의 개수를 확인
uriage.isna().sum()

In [ ]:
uriage.loc[uriage['item_name'] == '상품X']

In [ ]:
# 상품A라면 item_price는 결측치를 제외하고 100으로 고정

# 상품A이고 결측치가 아닌 데이터의 item_price의 평균

# 상품A에서 item_price가 결측치인 데이터에서 결측치를 평균값으로 대체

In [40]:
# 첫번째 조건식 (item_name이 상품A라면)
flag = uriage['item_name'] == '상품A'

In [41]:
# 두번째 조건식 (item_price가 결측치인 경우)
flag_null = uriage['item_price'].isna()

In [43]:
uriage.loc[flag & flag_null]

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
14    2019-06-11 12:57       상품A         NaN           김재호
300   2019-04-06 11:06       상품A         NaN           김태인
361    2019-01-21 3:33       상품A         NaN           김진우
667   2019-03-16 17:23       상품A         NaN           김주원
838    2019-06-24 5:06       상품A         NaN           김시호
844    2019-03-15 9:14       상품A         NaN           김강현
957   2019-07-19 14:12       상품A         NaN           김서윤
1260  2019-01-15 22:59       상품A         NaN           김하진
1394  2019-07-07 21:49       상품A         NaN           김은우
1474   2019-04-11 2:22       상품A         NaN           김선우
1892   2019-07-31 1:32       상품A         NaN           김윤찬
1937   2019-02-13 7:28       상품A         NaN           김시환
1977   2019-02-28 4:11       상품A         NaN           김서준
2063  2019-05-25 12:51       상품A         NaN           김재민
2278   2019-07-14 3:39       상품A         NaN           김시우
2636  2019-03-09 14:20       상품A         NaN           김우찬
2669  2019-03-05 20:21       상품A         NaN           김주혁
2732  2019-01-28 22:13       상품A         NaN           김윤호
2821  2019-06-21 11:09       상품A         NaN           김승훈